body {
	/*background-image: url("../images/background.png")*/
}

h1 {
	text-align: center;
	/*background-color: red;*/
}	

h3 {
	text-align: center;
}

button{
	margin-top: 20px;
    margin-left: 40px; 
}

#p1, #p2, #p3, #p4, #p5, #p6, #c1, #c2, #c3, #c4, #c5, #c6 {
	border-style: solid;
	width: 30px;
	height:30px;
	text-align: center;

}

#test1 {
	/*background-color: green;*/
}

#test2 {
	/*background-color: green;*/
}

#test3 {
	/*background-color: green;*/
}

#test4 {
	/*background-color: red;*/
}

#test5 {
	/*background-color: red;*/
}

#test6 {
	/*background-color: red;*/
}






