body {
	/*background-image: url("../images/background.png")*/
}

h1 {
	text-align: center;
	background-color: red;
}	

h3 {
	text-align: center;
}

button{
    margin: 0 auto;
}

#test1 {
	background-color: green;
}

#test2 {
	background-color: green;
}

#test3 {
	background-color: green;
}

#test4 {
	background-color: red;
}

#test5 {
	background-color: red;
}

#test6 {
	background-color: red;
}






